.intro__list {
    max-width: 690px;
    list-style: none;
    margin-top: 34px;
    margin-bottom: 0;
    padding-left: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

@media screen and (max-width: 424px) {
    .intro__list {
        margin-top: 34px;
    }
}