.intro__text {
    margin-top: 32px;
    max-width: 690px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .intro__text {
        max-width: 385px;
        margin: 35px auto 0;
    }
}

@media screen and (max-width: 424px) {
    .intro__text {
        max-width: 288px;
        margin: 35px 0 0 0;
    }
}