.place__link {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    text-underline-position: under;
}

.place__link:hover {
    opacity: 0.8;
    transition: 0.3s;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places__link {
        line-height: 22px;
    }
}