.cover__overlay{
    display: block;
    background: url(../../../images/cover-trains.png) no-repeat;
    position: relative;
    width: 100%;
    padding-top: 21.7%; 
    padding-bottom: 20.2%;
    text-decoration: none; 
    background-size: cover;
    
 }
 .cover__overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2a2c2f;;
    opacity: 0.3;
    z-index: 2;
  }
  .cover__overlay:hover::after{
      opacity: 0.8;
      transition: 0.5s;
  }
 
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__overlay {
        padding-top: 19.5%;
        padding-bottom: 19.2%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__overlay {
        padding-top: 16.2%;
        padding-bottom: 14.6%;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .cover__overlay {
        padding-top: 16.2%;
        padding-bottom: 14.6%;
    }
}

@media screen  and (max-width: 424px) {
    .cover__overlay {
        padding-top: 10.4%;
        padding-bottom: 10.3%;
    }
}