@import url(./__conteiner/place__conteiner.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__content/place__content.css);
@import url(./__image/place__image.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__paragraph/place__paragraph.css);
.place {
    margin-bottom: 86px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        width: 720px;
        margin-bottom: 78px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .place {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 424px) {
    .place {
        margin-bottom: 48px;
    }
}