@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__line/footer__line.css);
.footer {
    width: 1184px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 96px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        width: 928px;
        padding-top: 91px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        width: 720px;
        padding-top: 91px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .footer {
        max-width: 385px;
        display: block;
        padding-top: 64px;
    }
}

@media screen and (max-width: 424px) {
    .footer {
        max-width: 288px;
        display: block;
        padding-top: 64px;
    }
}